In [10]:
import yfinance as yf
import pandas as pd

In [20]:
tables = pd.read_html("https://en.wikipedia.org/wiki/FTSE_250_Index")

In [21]:
tables[3]

,Company,Ticker,FTSE Industry Classification Benchmark sector[10]
0,3i Infrastructure,3IN,Financial Services
1,4imprint,FOUR,Media
2,Abrdn,ABDN,Financial Services
3,abrdn Private Equity Opportunities Trust,APEO,Investment Trusts
4,Alliance Trust,ATST,Investment Trusts
...,...,...,...
245,Wizz Air,WIZZ,Travel & Leisure
246,Wood Group,WG,Oil & Gas Related Equipment and Services
247,Workspace Group,WKP,Real Estate Investment Trusts
248,Worldwide Healthcare Trust,WWH,Investment Trusts
249,Zigup,ZIG,Support Services